@import "./assets/style/_base.css";
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Open Sans Hebrew", sans-serif;
}

body {
  background-color: #e7ecf7;
  padding: 0 !important;
}

ul {
  list-style-type: none;
  display: block;
}
.button {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  border-radius: var(--border-radius);
  border: 0;
}
a {
  text-decoration: none;
  background-color: transparent;
}

:root {
  --main-prop-color: #001145;
  --yellow: #f7c324;
  --negative-red-color: #a91e2c;
  --positive-green-color: #18634b;
  --border-radius: 15px;
  --br-bottom: 0 0 15px 15px;
  --br-top: 15px 15px 0 0;
  --chart-axix-color: #666;
  --tooltipAxisSize: 30px;
  --text-color-lineChart: #c0c8d3;
  --font-size-small: 15px;
  --font-size-medium: 18px;
  --font-size-large: 24px;

  --font-12: 12px;
  --font-12-8: 12.8px;
  --font-13: 13px;
  --font-14: 14px;

  --marginSpacing: 24px;

  --dark-theme-line-blue: #4286e6;
}

canvas.mapboxgl-canvas {
  border-radius: var(--border-radius);
}
